@using MyEvernote.WebApp
@using MyEvernote.Entities
@using MyEvernote.WebApp.Models

<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>eCommerce Dashboard - Convex bootstrap 4 admin dashboard template</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/app.css">
</head>
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">


        <div data-active-color="black" data-background-color="white" data-image="" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="/Home/Index" class="logo-text float-left">
                        <div class="logo-img"><img src="~/Content/app-assets/img/logo-dark.png" alt="Convex Logo" /></div><span class="text align-middle">CONVEX</span>
                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="/Content/javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                        <li class="nav-item">
                            <a href="/Home/Index"><i class="icon-home"></i><span data-i18n="" class="menu-title">Anasayfa</span></a>
                        </li>

                        <li class="has-sub nav-item">
                            <a href="/#"><i class="icon-basket"></i><span data-i18n="" class="menu-title">Harcamalar</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Spend/Create" class="menu-item">Harcama Ekle</a>
                                </li>
                                <li>
                                    <a href="/Spend/Index" class="menu-item">Tüm Harcamalar</a>
                                </li>
                            </ul>
                        </li>
                        @if (CurrentSession.User.IsAdmin)
                        {
                            <li class="has-sub nav-item">
                                <a href="/#"><i class="icon-notebook"></i><span data-i18n="" class="menu-title">Kategoriler</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/Category/Create" class="menu-item">Kategori Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index" class="menu-item">Tüm Kategoriler</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub nav-item">
                                <a href="/#"><i class="icon-map"></i><span data-i18n="" class="menu-title">Ofisler</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/Office/Create" class="menu-item">Ofis Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/Office/Index" class="menu-item">Tüm Ofisler</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub nav-item">
                                <a href="/#"><i class="icon-users"></i><span data-i18n="" class="menu-title">Personeller</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/People/Create" class="menu-item">Personel Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/People/Index" class="menu-item">Tüm Personeller</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class=" nav-item">
                            <a href="/Home/About"><i class="icon-info"></i><span data-i18n="" class="menu-title">Hakkımızda</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-header">

                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">

                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="/#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    <b>@CurrentSession.User.Username</b>
                                    <span class="avatar avatar-online"><img id="navbar-avatar" src="~/Images/@CurrentSession.User.ProfileImageFilename" alt="avatar" /></span>
                                    <p class="d-none">Profile Güncelle</p>
                                </a>
                                <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                    <div class="arrow_box_right">
                                        <a href="/Home/ShowProfile" class="dropdown-item py-1"><i class="ft-user mr-2"></i><span>Profilim</span></a>
                                        <a href="/Home/EditProfile" class="dropdown-item py-1"><i class="ft-edit mr-2"></i><span>Profili Güncelle</span></a>
                                        <a href="/Home/DeleteProfile" class="dropdown-item py-1" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?');"><i class="ft-delete mr-2"></i><span>Profili Sil</span></a>
                                        <div class="dropdown-divider"></div><a href="/Home/Logout" class="dropdown-item"><i class="ft-power mr-2"></i><span>Oturumu Kapat</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <!--Statistics cards Starts-->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
        @RenderSection("footer", required: false)
  
        </body>
</html>
