 <!-- /.container -->
<footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-center px-2"><span>Copyright  &copy; @DateTime.Now.Year <a href="/Content/https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
</footer>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- BEGIN VENDOR JS-->
<script src="~/Content/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/Content/app-assets/vendors/js/core/popper.min.js"></script>
<script src="~/Content/app-assets/vendors/js/core/bootstrap.min.js"></script>
<script src="~/Content/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Content/app-assets/vendors/js/prism.min.js"></script>
<script src="~/Content/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
<script src="~/Content/app-assets/vendors/js/screenfull.min.js"></script>
<script src="~/Content/app-assets/vendors/js/pace/pace.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->

<script src="~/Content/app-assets/vendors/js/datatable/dataTables.buttons.min.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/buttons.flash.min.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/jszip.min.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/pdfmake.min.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/vfs_fonts.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/buttons.html5.min.js"></script>
<script src="~/Content/app-assets/vendors/js/datatable/buttons.print.min.js"></script>


<script>
    $(document).ready(function() {
    $('#dt-select').DataTable();
} );
</script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN CONVEX JS-->
<script src="~/Content/app-assets/js/app-sidebar.js"></script>
<script src="~/Content/app-assets/js/data-tables/datatable-advanced.js"></script>
