
@{
    ViewBag.Title = "About";
}

<!-- Spacing -->
<div class="row">
    <div class="col-12">
        <section id="spacing" class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Hakkımızda</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="card-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius rutrum semper. Pellentesque varius convallis est. Nulla porttitor venenatis sapien, vel maximus eros ultricies eget. Etiam porttitor aliquet metus sit amet condimentum. Vestibulum convallis ex tortor, sit amet dictum velit placerat feugiat. Mauris placerat eget erat sit amet placerat. Aenean a ultricies ligula, ac interdum leo. Sed bibendum semper urna nec fermentum. Aenean pharetra augue vitae volutpat luctus. Nam maximus sodales nulla ut volutpat. Integer eu arcu orci. Nunc pharetra pellentesque purus, non elementum sem vehicula eget. Praesent dapibus rutrum tellus volutpat auctor. Cras sit amet fermentum risus. Nullam convallis pellentesque convallis. Sed interdum congue tortor, eget cursus ex rhoncus quis.

                            Duis feugiat nisl purus, sed luctus dolor commodo ac. Curabitur eget porttitor urna. Sed dictum et nisi sed consectetur. Nulla feugiat sollicitudin ipsum, in interdum magna posuere non. Vestibulum odio risus, interdum vitae arcu hendrerit, bibendum lacinia sem. Integer ac dictum lorem. Donec neque turpis, aliquam eget dui sed, consequat sodales libero.

                            Mauris feugiat pulvinar libero in tincidunt. Pellentesque a metus vitae purus eleifend tristique. Nullam venenatis euismod tristique. Cras gravida dignissim tincidunt. Fusce luctus aliquam ipsum vitae porttitor. Curabitur efficitur lacus nec ex aliquam facilisis. Etiam mauris metus, venenatis facilisis dignissim at, cursus nec elit. Aliquam lacinia laoreet pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi at nisl semper, accumsan ligula non, mollis elit. Sed sagittis, enim quis rutrum blandit, enim eros hendrerit neque, sit amet ultrices tellus ante vel neque.

                            Nullam efficitur feugiat tincidunt. Maecenas erat nunc, hendrerit sit amet eros in, semper commodo ligula. Mauris rutrum vel orci in dictum. Praesent ipsum risus, bibendum non laoreet a, fermentum quis metus. Sed quis fringilla mauris. Sed sit amet sollicitudin eros. Nullam at orci lobortis, mattis urna fermentum, luctus diam. Maecenas porttitor velit et augue faucibus commodo.

                            Praesent rhoncus sagittis urna quis imperdiet. Pellentesque pulvinar turpis leo. Nam hendrerit lacus et risus pretium efficitur. Phasellus suscipit massa ut accumsan luctus. Suspendisse pharetra purus eget ipsum vulputate, nec facilisis erat commodo. Ut id leo bibendum urna ultrices volutpat. Suspendisse id neque ac velit malesuada malesuada.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--/ Spacing -->

@section footer{
    @Html.Partial("_PartialFooter")
}